


/*boxed*/
#active-frame{
    margin-top: 15px;
    padding-left: 10px;
    border: none;
    outline:none;
    margin-left: -12px;
  width:98%;
}

#page-cont{
  margin-top: 0px; 
  margin-left: 0px;
  padding:5px;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.active{
  background-color: rgba(100,168,224,1);

}

.panel-body{
  overflow-y: scroll;
  max-height:320px;
}

.panel-footer{
  background-color: rgba(100,168,224,1);
}


/*main-reinforced*/


#top-mast{
  height: 30px;
  background-color: rgba(0,0,0,0.8);
}

#backgr{
  background-color: #B7B3A1;
  min-height: 588px;
}

#logo-hold{
  margin-top: 5px;
}

#botface{color: #000;}

#login-pane-1, #login-pane-2{
  
  background-color: rgba(0,0,0,0.7);
  margin-top:10px;
  margin-left: 500px;
  border-radius:5px; 
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  color: #fff;

}

#login-pane-2{
  border-radius:5px; 
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; 
  margin-top:2px;
  background-color: rgba(0,0,0,0.8);

  
}


#bottom-mast{
  height: 35px;
  color: #fff;
  padding-top: 5px;
  padding-left: 350px;
  background-color: rgba(0,0,0,0.8);
}

#holder,#pass {
    background-color:rgba(0, 0, 0, 0);
    color:#F25757;
    border: none;
    outline:none;
    height:20px;
    margin-left: -12px;
  font-size:14px;
  width:98%;
}

input#clicker{
border: none;
overflow: hidden;
background-color: Transparent;
background-image: url('../images/left-click.png');
background-repeat: no-repeat;
background-position: right;
margin-left: 1px;
margin-bottom: 10px;

}

/*DONOT EDIT*/#cmlogo{ margin-left: 38%; }#cmlogo img{position:absolute;  -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}#cmlogo img.top:hover{opacity:0;}@keyframes cmlogoFadeInOut{0%{opacity:1;}45%{opacity:1;}55%{opacity:0;}100%{opacity:0;}}#cmlogo img.top{animation-name: cmlogoFadeInOut;animation-timing-function: ease-in-out;animation-iteration-count: infinite;animation-duration: 5s;animation-direction: alternate;}

