<div class="row">
  <div class="col-md-4 col-md-offset-4" style="padding: 25px;"  ng-controller="ProfileUpdateController">
    <h3>Update Info</h3>
      <p ng-model="formError" class="alert-danger">{{formState}}</p>
      <form name="form" role="form" ng-submit="update()">

        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" name="first_name" ng-model="user.first_name" ng-pattern="/^[a-zA-Z]+$/" required/>
          <div ng-show="form.first_name.$invalid" class="alert-danger">
              {{ form.first_name.error }}
            </div>
            <div class="error" ng-show="form.first_name.$error.pattern" class="alert-danger">
                First Name can only have english alphabets without spaces.
            </div>
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" name="last_name" ng-model="user.last_name" ng-pattern="/^[a-zA-Z]+$/" required/>
          <div ng-show="form.last_name.$invalid" class="alert-danger">
              {{ form.last_name.error }}
            </div>
            <div class="error" ng-show="form.last_name.$error.pattern" class="alert-danger">
                Last Name can only have english alphabets without spaces.
            </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" ng-model="user.password"/>
            <div ng-show="form.password.$invalid" class="alert-danger">
              {{ form.password.error }}
            </div>
        </div>

        <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" class="form-control" name="confirm_password" ng-model="user.confirm_password" />
          <div ng-show="form.confirm_password.$invalid" class="alert-danger">
              {{ form.confirm_password.error }}
            </div>
            <div ng-show="user.password != '' && user.confirm_password != '' && user.password != user.confirm_password">
                Password fields do not match.
            </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/logout" class="btn btn-link">Logout</a>
        </div>
      </form>
  </div>
</div>