<script src="{{ STATIC_URL }}js/libs/angular/angular.js"></script>
<script src="{{ STATIC_URL }}js/libs/angular/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/angular/angular-route.js"></script>
<script src="{{ STATIC_URL }}js/libs/angular/angular-cookies.js"></script>
<script src="{{ STATIC_URL }}js/libs/angular/angular-animate.js"></script>
<script src="{{ STATIC_URL }}js/libs/angular/restangular.js"></script>
<script src="{{ STATIC_URL }}js/libs/angular/angular-aria.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/angular/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="{{ STATIC_URL }}js/libs/angular/angular-material.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}app/app.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/constants.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/appConfig.js"></script>

<!--App Services-->
<script type="text/javascript" src="{{ STATIC_URL }}app/services/authentication-service.js"></script>

<!--App controllers-->
<script type="text/javascript" src="{{ STATIC_URL }}app/controllers/login-controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/controllers/logout-controller.js"></script>