@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);




body{
  font-size: 14px;
  font-family: 'Josefin Slab', serif;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/preloader.gif) center no-repeat #fff;
}

#limiter{
  max-height: 20%;
}

/*header*/
h1.logo-wrapper{
  margin: 0px 0px;
}
h1 span.logo-text{
  display: none;
}
header .brand-logo {
  margin: 1px 0px;
  padding: 0 20px;
}
header .brand-logo img{ 
  width: 172px;
}
.menu-sidebar-collapse{
  margin: 0 10px;
}
.menu-sidebar-collapse i{
  line-height: 36px !important;
}
@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}



/*sidebar */

nav ul li.no-hover:hover{
  background: none;
}
ul.side-nav.leftside-navigation {
  top: 64px;
}
@media only screen and (max-width: 992px) {
  ul.side-nav.leftside-navigation {
    top: 56px;
  }
}
ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
.side-nav a {
  line-height: 42px;
  height: 42px;
}
#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}
#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
#slide-out ul.side-nav li {
  padding: 0px !important;
}
ul.side-nav li {
  padding: 0;
}
ul.side-nav .collapsible-header {
  margin: 0;
}
.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px;
}

ul.side-nav.leftside-navigation {
  overflow: hidden;
}
ul.side-nav.leftside-navigation li {
  line-height: 44px;
}
ul.side-nav.leftside-navigation li:hover,
ul.side-nav.leftside-navigation li.active {
  background-color: rgba(0, 0, 0, 0.05);
}
ul.side-nav.leftside-navigation li a {
  font-size: 14px;
  font-weight: 400;
}
.side-nav.leftside-navigation .collapsible-body li.active,
.side-nav.fixed.leftside-navigation .collapsible-body li.active{
  background-color: #FAFAFA;
}
.side-nav.leftside-navigation .collapsible-body li.active a,
.side-nav.fixed.leftside-navigation .collapsible-body li.active a{
    color: #444;
}
.side-nav .collapsible-body li a{
    margin: 0 1rem 0 3rem;
}
ul.side-nav.leftside-navigation ul.collapsible-accordion {
  background-color: #FFF;
}
ul.side-nav.leftside-navigation:hover {
  /*overflow-y:hidden;*/
}
ul.side-nav.leftside-navigation li.user-details {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*overflow: hidden;*/
  
  margin-bottom: 15px;
  padding: 15px 0px 0px 15px;
}
.user-details .row {
  margin: 0;
}
.user-task,
.user-time {
  margin: 0;
  font-size: 13px;
  color: #fff;
}
ul.side-nav.leftside-navigation .profile-image {
  /*height: 50px;*/
}
ul.side-nav.leftside-navigation .profile-btn {
  margin: 0;
  text-transform: capitalize;
  padding: 0;
  text-shadow: 1px 1px 1px #444;
  font-size: 15px;
}
.user-roal {
  color: #fff;
  margin-top: -16px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #444;
}
.bold > a {
  font-weight: bold;
}
nav.top-nav {
  height: 122px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px;
}


#main,
footer {
  padding-left: 240px;
}


#sidenav-overlay {
  background-color: transparent;
}
.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

#left-sidebar-nav span.badge.new{
  line-height: 20px;
  margin-top: 11px;
}

#content .container .row {
  margin-bottom: 0;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 98%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}
@media only screen and (max-width: 993px) {
  #main,
  footer {
    padding-left: 0px;
  }
}
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{
  z-index: 9999;
}



/* footer */
footer.page-footer {
  padding-top: 0px;
}

#feeder::-webkit-scrollbar {
    width: 1em;
}

