@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro); 
#editor-container{background-color: #000000; 
	width: 70%;
	margin-left: 23%; 
	margin-top: 3%; }

#sherlock{
	margin-left: 1px; 
	max-height: 30px;
	width: 200px; 
	background-color: #232323; 
	outline:none; 
	border: none; 
	border-radius:3px; 
	padding-left: 5px; 
	color:#fff;}

#but-sub{background-image: url(../images/sub.png); 
	border: none; outline: none; 
	background-color:transparent; 
	background-repeat: no-repeat; 
	margin-left: 15px; 

	height:24px; 
	width:24px;}

#but-sea{background-image: url(../images/search.png); 
	border: none; 
	outline: none; 
	margin-left: 15px; 
	background-color:transparent; 
	background-repeat: no-repeat; 
	height:24px; width:24px;}

#but-ref{background-image: url(../images/ref.png); 
	border: none; 
	outline: none; 
	background-color:transparent; 
	background-repeat: no-repeat; 
	margin-left: 14px; 
	height:24px; 
	width:24px;}

#editor{font-family: "Source Code Pro"; 
border:none; 
outline:none; 
height:250px; 
background-color: #000000; 
margin-top: 5px;}

::-webkit-scrollbar{display: none;}
#console-io{height: 80px; width:80%; background-color: #111111; border-radius: 5px; outline: none; border: none; margin-top: 5px; margin-left: -3px; color:#fff; font-size: 12px; padding-left: 5px; padding-top: 2px; font-family: "Source Code Pro",monospace;}

#cmlogo{position:relative; height:86px; width:100px; margin-left: 90%; margin-top: -64px;}#cmlogo img{position:absolute; left:0; -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}#cmlogo img.top:hover{opacity:0;}@keyframes cmlogoFadeInOut{0%{opacity:1;}45%{opacity:1;}55%{opacity:0;}100%{opacity:0;}}#cmlogo img.top{animation-name: cmlogoFadeInOut;animation-timing-function: ease-in-out;animation-iteration-count: infinite;animation-duration: 5s;
	animation-direction: alternate;}


/*DONOT EDIT*/#cmlogo2{ margin-left: 38%; margin-top: 15px;}#cmlogo2 img{position:absolute;  -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}#cmlogo2 img.top:hover{opacity:0;}@keyframes cmlogoFadeInOut{0%{opacity:1;}45%{opacity:1;}55%{opacity:0;}100%{opacity:0;}}#cmlogo2 img.top{animation-name: cmlogoFadeInOut;animation-timing-function: ease-in-out;animation-iteration-count: infinite;animation-duration: 5s;animation-direction: alternate;}


#response-container{
	background-color: #191919;
	width:20%;
	margin-left: 45%; 
	margin-top: 5%;
	color: #3cb35a;
}

#response-container label{
	color: #ff5654;
	font-size: 20px;

}